<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>This is Header</header>
  {{{body}}}
  <footer>This is Footer</footer>
</body>

</html>